/* give background image */
body {
  background: url(https://img.freepik.com/free-vector/flat-idul-fitri-background_23-2149346850.jpg?w=1380&t=st=1682042898~exp=1682043498~hmac=a4410f4baa2b2d14a613327a29c2fe484e0225f6de012aec2fec4b867124682e)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

body,
html {
  margin: 0px;
  height: 100%;
  /* overflow-y: hidden; */
  /* z-index: -3; */
}

.box {
  position: relative;
  width: 300px;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
}

.box::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 140%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 3s linear infinite;
  box-shadow: 0 0 60px yellow;
}

.box::after {
  content: "";
  position: absolute;
  background: rgb(255, 178, 0);
  inset: 4px;
  border-radius: 16px;
}

.box span {
  position: relative;
  color: #fff;
  font-size: 30px;
  z-index: 1;
}

.card {
  border-radius: 20px;
  margin-bottom: 20px;
}

/* semua tag dalam .card mempunyai z-index: 1 */
.card * {
  z-index: 1;
}

.gemerlap {
  position: relative;
  /* width: 300px; */
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
}

.gemerlap::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 140%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 3s linear infinite;
  box-shadow: 0 0 60px yellow;
}

.gemerlap::after {
  content: "";
  position: absolute;
  background: rgb(255, 178, 0);
  inset: 4px;
  border-radius: 16px;
}

.card p {
  text-align: center;
  font-weight: bold;
}

.card p a {
  text-decoration: none;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(350deg);
  }
}

.txt-justify {
  text-align: justify;
}
